/* ︎ ☀︎ ☽ */

span {
  font-size: 20px;
}

.switch-checkbox {
  padding: 10px;
}

.containerr {
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  position: absolute;
  padding: 12px;
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

input:checked + .slider {
  background-color: #19a2c1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* breakpoints */
/* for large */
@media screen and (max-width: 992px) {
  .containerr {
    position: absolute;
    right: 500px;
  }
}
/* for medium */

@media screen and (max-width: 768px) {
  .containerr {
    position: absolute;
    right: 650px;
    top: 180px;
    left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .containerr {
    position: absolute;
    right: 300px;
    top: 180px;
    left: 20px;
  }
}

/* for small devices */
@media screen and (max-width: 350px) {
  .containerr {
    position: absolute;
    right: 200px;
    top: 180px;
    left: 20px;
  }
}